html,body{
    background: #fdeffd;
    height: 100%;
}
body, footer{
    width: 100%;
    font-family: Inter, Courier New;
}
header{
    height: 150px;
}
.logo{
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    position: relative;
}
.logo img{
    position: absolute;
    margin: 51px 66.66px;
}
.main-content{
    width: 1200px;
    /*overflow: auto;*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 300px;
}
.results{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;
    background: #f8e5fa;
    border-radius: 50px;
    border: 4px dashed black;
    position: relative;
}
.results-message{
    position: absolute;
    height: 60%;
    width: 80%;
    top: 100px;
    left: 20px;
    padding: 10px 10px;
    font-size: 32px;
    resize: none;
    border: none;
    text-align: center;
    background-color: #f8e5fa;
    display: none;
}
.results-message:focus{
    outline: none;
}
.copy-to-clipboard{
    position: absolute;
    width: 80%;
    left: 30px;
    bottom: 30px;
    padding: 25px 0;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border: 1px #0A3871 solid;
    background-color: #302f2d;
    color: white;
    display: none;
}
.copy-to-clipboard:hover{
    cursor: pointer;
    background-color: #52504e;
}
.img-results{
    display: flex;
    margin: 0 auto;
}
.img-results img{
    display: block;
    margin: 0 auto;
    width: 90%;
}
.tip-txt{
    margin: 0 auto;
}
.tip-txt h2, .tip-txt h3{
    text-align: center;
    margin: 20px 0;
    padding: 0 30px;
}
.tip-txt h2{
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}
.tip-txt h3{
    color: #71778dfd;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.text-input{
    width: 100%;
    height: 500px;
    background: transparent;
    font-size: 32px;
    color: darkblue;
    outline: none; /*hide active border*/
    resize: none;
    padding: 50px 66.66px;
    box-sizing: border-box;
    border: none;
}
.text-input::placeholder{
    color: darkblue;
}
.text-input:hover:not(:focus)::placeholder{
    font-weight: bold;
}
.text-input:focus::placeholder{
    opacity: 0.5;
    font-weight: 100;
}
.warning{
    padding: 20px 0;
}
.warning p, .buttons p{
    display: inline-block;
}
.warning #icon{
    margin-left: 66.66px;
    box-sizing: border-box;
    background-color: grey;
    color: white;
    padding: 3px 9px;
    border-radius: 100%;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.buttons button{
    width: 350px;
    padding: 25px 0;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border: 1px #0A3871 solid;
}
.buttons>button:hover{
    cursor: pointer;
    user-select: none;
}
.encrypt{
    background: #0A3871;
    color: white;
}
.encrypt:hover{
    background: #124c92;
}
.decrypt{
    background-color:#fce2fd;
    color: black;
}
.decrypt:hover{
    background:#fddcee;
}
footer{
    padding: 30px 0;
    text-align: center;
    height: calc(100vh - 784px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#copyright{
    font-weight: 500;
}
@media screen and (max-width: 1200px){
    .main-content, .logo{
        width: 1024px;
    }
    .buttons button{
        width: 270px;
    }
}
@media screen and (max-width: 1024px){
    .main-content, .logo{
        width: 860px;
    }
    .buttons{
        margin-left: 35px;
        justify-content: space-evenly;
    }
    .buttons button{
        width: 220px;
    }
}
@media screen and (max-width: 860px){
    .main-content, .logo{
        width: 768px;
        display: flex;
        flex-direction: column;
    }
    .buttons{
        margin-left: 0;
    }
    .buttons button{
        width: 300px;
        font-weight: 700;
    }
    .results{
        display: flex;
        flex-direction: row;
        margin: 50px 50px;
    }
    .img-results{
        padding: 20px;
        width: 40%;
    }
    .results-message, .copy-to-clipboard{
        position: unset;
    }
    .results-message{
        box-sizing: border-box;
        padding-top: 15px;
        margin: 30px 0;
        height: 150px;
        width: 100%;
    }
    .copy-to-clipboard{
        width: 100%;
        margin: 15px 0;
    }
    footer{
        padding: 0 0 30px;
        height: auto;
        display: block;
    }
    .copyright p{
        padding-bottom: 200px;
    }
}
@media screen and (max-width: 768px){
    .main-content, .logo{
        width: 90vw;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo img{
        position: unset;
        width: 40px;
    }
    .buttons{
        align-items: center;
        flex-direction: column;
    }
    .buttons button{
        font-size: 1.3em;
        width: 75vw;
    }
    .img-results{
        display: none;
    }
    .tip-txt{
        padding: 20px;
    }
    .encrypt{
        margin-bottom: 10px;
    }
    .results{
        margin: 40px 40px;
    }
    .copy-to-clipboard{
        width: 300px;
        margin: 30px auto;
    }
}
@media screen and (max-width: 480px){
    .text-input{
        padding: 50px 40px;
        height: 450px;
    }
    .warning{
        text-align: center;
    }
    .warning #icon{
        margin-left: 0;
    }
    .warning p{
        font-size: 0.9em;
    }
    .results-message, .copy-to-clipboard{
        width: 60vw;
    }
    .results-message{
        margin: 30px auto;
    }
}
@media screen and (max-width: 320px){
    .main-content, .logo{
        width: 270px;
    }
    .warning #icon{
        display: none;
    }
    .buttons button{
        font-size: 1.2em;
    }
}